body {
    margin: 0;
}

.header {
    padding: 15px;
    background-color: rgb(98, 193, 102);
}

.main {
    padding: 15px;
    background-color: rgb(78, 235, 188);
}

.footer {
    padding: 15px;
    background-color: rgb(90, 151, 249);
}

.wrapper {
    max-width: 750px;
    margin: auto;
}